.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom: 2px solid black;
}

.textHome {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.textLog {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 15px;
  margin-bottom: 5px;
}
