.wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #000;
  height: 30px;
}

.hederNav {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 0px;
}

.containerLog {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.text {
  color: #000;
  text-decoration: none;
}

.username {
  margin-left: auto;
  margin-right: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn {
  height: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
